<p>Hi there</p>

<p>You have been invited to BlindDate!</p>

<%= form_tag(@url, method: :put) do %>
  <%= hidden_field_tag :status, 'accepted' %>
  <%= submit_tag "Accept" %>
<% end %>

<%= form_tag(@url, method: :put) do %>
  <%= hidden_field_tag :status, 'rejected' %>
  <%= submit_tag "Reject" %>
<% end %>
